.header-container{
    width: 100%;
    height: 10dvh !important;
    display: flex;
    padding: 15px 10px;
    justify-content: space-between;
}

.header-left-div{
    display: flex;
    gap: 10px;
}

.header-right-div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-poweroff{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.header-name{
    color: var(--primary-color);
}