.task-input-container {
    /* background-color: #f8f9fa; */
    /* d-flex justify-content-center align-items-center vh-40 */
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .task-input-box {
    width: 50%;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
  }
  
  .task-input-box label {
    font-weight: bold;
  }
  
  .task-input-box .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .task-input-box .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .taskInput-add-btn{
    background-color: var(--primary-color) !important;
    border-color:var(--primary-color) !important;
    cursor: pointer !important;
  }